<h1>My Venues and Shows</h1>

<h2>Shows I'm Tracking</h2>
  <table border="1">
    <tr>
      <th width="150">
        Venue
      </th>
      <th width="500">
        Bands
      </th>
      <th width="150">
        Show Date
      </th>
      <th width="150">
        Sale Info
      </th>
      <th width="150">
        Track?
      </th>
    </tr>
    <% @current_user.show_feed.where("show_date > ?", Time.now).each do | tracked | %>
    <tr>
      <td width="150" style="text-align: center">
        <a href="<%= tracked.host.link %>"><%= tracked.host.name %></a>
      </td>
      <td width="500" style="text-align: center">
        <%= tracked.bands %>
      </td>
      <td width="150" style="text-align: center">
        <%= tracked.show_date.strftime("%a %d %b") %>
      </td>
      <td width="150" style="text-align: center">
        <% if tracked.is_soldout == true %>
          Sold Out!
        <% else %>
          Tickets!
        <% end %>
      </td width="150" style="text-align: center">
      <td width="150" style="text-align: center">
        <% track = ShowFollow.where({ :attendee_id => @current_user.id, :show_id => tracked.id }).at(0) %>
        <% if track == nil %>
          <form action="/insert_show_follow" method="post">
            <input type="hidden" value="<%= tracked.id %>" name="query_show_id"
            <button>Track</button>
          </form>
        <% else %>
          <a href="/delete_show_follow/<%= track.id %>">
            Untrack
          </a>
        <% end %>
      </td>
    </tr>
    <% end %>

<hr>

<% @current_user.venue_feed.each do | followed | %>
  <h3><a href="<%= followed.link %>"><%= followed.name %></a></h3>
  <div id="venueCarousel" class="carousel slide" data-ride="carousel">
    <% followed.shows.where("show_date > ?", Time.now).limit(5).each do | details | %>
    <div class="carousel-inner">
      <div class="carousel-item">
        <img src="<%= details.image %>" height="200" width="260" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>details.bands</h5>
          <p><%= details.show_date.strftime("%a %d %b") %></p>
          <p>
            <% if details.is_soldout == true %>
              Sold Out!
            <% else %>
              Tickets!
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
    <a class="carousel-control-prev" href="#venueCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#venueCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% end %>