<h1>My Venues and Shows</h1>

<% @current_user.venue_feed.each do | followed | %>
  <table border="1">
  <h2><%= followed.name %></h2>
    <tr>
      <th>
        Image
      </th>
      <th width="500">
        Bands
      </th>
      <th width="150">
        Show Date
      </th>
      <th width="150">
        Sale Info
      </th>
      <th width="150">
        Track?
      </th>
    </tr>
    <% followed.shows.limit(5).each do | details | %>
    <tr>
      <td>
        <img src="<%= details.image %>" height="200" width="260">
      </td>
      <td width="500">
        <%= details.bands %>
      </td>
      <td width="150" style="text-align: center">
        <%= details.show_date.strftime("%a %d %b") %>
      </td>
      <td width="150" style="text-align: center">
        <% if details.is_soldout == true %>
          Sold Out!
        <% else %>
          Tickets!
        <% end %>
      </td width="150" style="text-align: center">
      <td>
        <% track = ShowFollow.where({ :fan_id => @current_user.id, :show_id => details.id }).at(0) %>

        <% if track == nil %>
          <form action="/insert_show_follow" method="post">
            <input type="hidden" value="<%= details.id %>" name="query_show_id">
            <button>Track</button>
          </form>
        <% else %>
          <a href="/delete_show_follow/<%= track.id %>">
            Untrack
          </a>
        <% end %>
      </td>
    </tr>
    <% end %>
<% end %>