<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all venue follows
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new venue follow
    </h2>

    <form action="/insert_venue_follow" method="post">
      <div class="form-group">
        <label for="venue_id_box">
          Venue
        </label>

        <input type="text" id="venue_id_box" name="query_venue_id" class="form-control">
      </div>

      <div class="form-group">
        <label for="fan_id_box">
          Fan
        </label>

        <input type="text" id="fan_id_box" name="query_fan_id" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create venue follow
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Venue
        </th>

        <th>
          Fan
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @venue_follows.each do |venue_follow| %>
      <tr>
        <td>
          <%= venue_follow.id %>
        </td>

        <td>
          <%= venue_follow.venue_id %>
        </td>

        <td>
          <%= venue_follow.fan_id %>
        </td>

        <td>
          <%= time_ago_in_words(venue_follow.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(venue_follow.updated_at) %> ago
        </td>

        <td>
          <a href="/venue_follows/<%= venue_follow.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
