<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Venue follow #<%= @venue_follow.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/venue_follows" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_venue_follow/<%= @venue_follow.id %>" class="btn btn-block btn-outline-secondary">
          Delete venue follow
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Venue
      </dt>
      <dd>
        <%= @venue_follow.venue_id %>
      </dd>

      <dt>
        Fan
      </dt>
      <dd>
        <%= @venue_follow.fan_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@venue_follow.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@venue_follow.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit venue follow
    </h2>

    <form action="/modify_venue_follow/<%= @venue_follow.id %>"  method="post" >
      <div class="form-group">
        <label for="venue_id_box">
          Venue
        </label>

        <input type="text" id="venue_id_box" name="query_venue_id" class="form-control" value="<%= @venue_follow.venue_id %>">
      </div>

      <div class="form-group">
        <label for="fan_id_box">
          Fan
        </label>

        <input type="text" id="fan_id_box" name="query_fan_id" class="form-control" value="<%= @venue_follow.fan_id %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update venue follow
      </button>
    </form>
  </div>
</div>

<hr>
